:root {
  --marigold: hsl(39, 96%, 48%);
  --ff-poppins: "Poppins", sans-serif;
}

.button-color {
  background-color: var(--marigold) !important;
  color: #ffffff;
  height: 60px;
  width: 39%;
}

label {
  font-weight: bold;
}
.password-color {
  color: var(--marigold) !important;
}
#signup {
  position: absolute;
  right: 25px;
}
#register {
  font-size: 30px;
  font-family: var(--ff-poppins);
  /* font-weight: 700; */
}
.input-icon {
  background-color: #ffffff !important;
  border: 0;
  border-right: 2px solid #ccc;
}
.input-box {
  border: 0;
  box-shadow: none;
}
.input-box:focus {
  box-shadow: none;
}

.login-background {
  height: 100%;
}

.greetings-color {
  color: #ffffff;
}
.email-phone {
  display: grid;
  grid-template-rows: 1fr;
}
.main-card {
  height: 750px;
  margin-top: 2px;
}

.register_button {
  border: 2px solid var(--marigold);
  background-color: var(--marigold);
  font-size: 13px;
  margin-left: 43%;
  margin-top: 6px;
  font-family: var(--ff-poppins);
}
